[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "public"]
	path = public
	url = https://github.com/ChoiSeungWoo98/ChoiSeungWoo98.github.io.git
	branch = main
[submodule "themes/loveIt"]
	path = themes/loveIt
	url = https://github.com/dillonzq/LoveIt.git
